.cookies-modal{
    height: 50%;
    left:25%;
    width:50%;
    position:fixed;
top:25%;
z-index: 1000;
background-color: rgba(216, 191, 216, 0.684);

}
.gdpr-buttons{
    margin-top: 10%;
    width:50%;
    margin-left:25%;
    background-color:grey;
    color:gold;
    border-radius: 0;


}