.holder{
	height: 100%;
    width: 100%;
	display: flex;
    justify-content: center;
    /* border: 3px solid blue; */
    z-index: 6;
    position: fixed;
    left: 0;
    top: 0;
	
}
  .setting-menu{
    height: 100%;
    width: 100%;
	display: flex;
    justify-content: center;
    z-index: 6000;
    position: fixed;
    left: 0;
    top: 0;
}
#ring{
  /* border:4px solid blue; */
  display:none;
}
@font-face {
  font-family: aonchlo;
  src: url("../../fonts/aonchlo.ttf");
}
@font-face {
  font-family: engf;
  src: url(../../fonts/INFO56_0.ttf);
}

#mob-effect,
#mob-text,
#suggest-mobile {

  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: -9;
}

.bg {
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: -4;
  position: fixed;
  top: 0;
  left: 0;
  /* border:4px solid orange; */
}

#geagaSprite {

  z-index: 50000;
  position: fixed;
  top: 4%;
  left: 50%;
}


#prompt-hor {
  padding: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 90000;
  position: relative;

}


#vid-a {



  background-color: rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 200px;
  position: fixed;
  transform: scale(.4);
  border-radius: 50%;
  top: 29%;
  left: -3%;
  z-index: 6000;
  opacity: 0.7;
  display: none;
}


#event-report{
  z-index: 99;
  position: fixed;
  top:40%;
  left:80%;
  color: rgba(240, 248, 255, 0.461);
}


.menu-container{
  justify-content: center;
  height: 50%;
  display: flex;
  align-items: center;
  width: 100%;
  left: 0;
  bottom: 15%;
  z-index: 9000;
  position: fixed;
}
#hero {
  transform: scale(0.8) rotateY(180deg);

  /* border-radius: 50%; */
}

.menu {
  background-color: rgba(64, 224, 208, 0.1);
  color: rgb(255, 0, 238);
  padding: 12px;
  opacity: 0;
  width: 19%;
  margin: 3%;
  animation: fade-in linear 1s forwards;
  font-size: 2em;
  font-family: 'Ubuntu';
  border-radius: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add this line for the drop shadow */
}
.main-menu{
  color:chartreuse;
}



@keyframes ease-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


#north {

  background-color: rgb(32, 21, 28);
  border-top: 3px solid rgba(170, 176, 177, 0.5);

  border-right: 3px solid rgba(170, 176, 177, 0.5);
  border-left: 3px solid rgba(170, 176, 177, 0.5);
  border-bottom: 0px solid rgba(83, 60, 90, 1);
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 50;
}

#west {
  border: 5px solid blueviolet;
  /* background-color: blueviolet; */

  height: 50px;
  width: 50px;
  position: relative;
  z-index: 50;
  background-color: rgb(32, 21, 28);
  border-top: 3px solid rgba(170, 176, 177, 0.5);

  border-right: 0px solid rgba(83, 60, 90, 1);
  border-left: 3px solid rgba(170, 176, 177, 0.5);
  border-bottom: 3px solid rgba(170, 176, 177, 0.5);
  right: 0px;

}

#south {
  background-color: rgb(32, 21, 28);
  border-top: 0px solid rgba(83, 60, 90, 1);
  border-right: 3px solid rgba(170, 176, 177, 0.5);
  border-left: 3px solid rgba(170, 176, 177, 0.5);
  border-bottom: 3px solid rgba(170, 176, 177, 0.5);
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 40;
}

#origin {
  background-image: url('../../images/middle.png');
  outline: solid 1px rgba(83, 60, 90);
  border: solid 3px rgba(83, 60, 90);
  background-size: contain;
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 45;
}

#east {
  background-color: rgb(32, 21, 28);
;

  border-top: 3px solid rgba(170, 176, 177, 0.5);
  border-bottom: 3px solid rgba(170, 176, 177, 0.5);

  border-right: 3px solid rgba(170, 176, 177, 0.5);
  border-left: 0px solid rgba(83, 60, 90, 1);

  height: 50px;
  width: 50px;
  position: relative;
  z-index: 50;
  right: -2px;
}



#btn-middle-baile {
  background-image: url('../../images/middle.png');
  border: solid 3px rgba(83, 60, 90);
  background-size: contain;
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 45;
  outline: solid 3px rgba(83, 60, 90) !important;
}


#loc,
#locEng {

  top: 0%;
  left: 0%;
  position: fixed;
  font-size: 2em;
  /* color: rgb(74, 165, 196); */
  margin-bottom: 12px;
  /* z-index: 109; */
  pointer-events: none;
  padding: 10px;
  text-shadow: -4px -4px 4px #000, 4px -4px 4px #000, -4px 4px 4px #000, 4px 4px 4px #000;
  animation: fade-in 0.3s forwards;

  font-family: aonchlo;

  color:antiquewhite;
  
}

#locEng {
  width:60%;
  /* color: rgb(45, 160, 30); */
  z-index: 1000;
  top: 62%;
  display: block;
  font-size: 1.5em;
  left: 10%;
  font-family: 'anaphora';

}


#output {
  /* 
	text-align: left;
	position: fixed;
	width: 30%;
	height: 4%;
	top: 12%;
	left: 2%; */
  color: white;
  font-family: aonchlo;
  z-index: 10000;
  word-wrap: break-word;
  /* margin-top:-1%; */

}

#output2{
  z-index: 9999;
  /* display:none; */
  position:fixed;
  top: 90%;
  left: 4%;
  animation:fade-out 15s forwards;
}

#eng-notes{
  margin-left:5%;
  margin-top:51%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color:rgb(13, 10, 8);

}
#gae-notes{
  margin-left:9%;
  margin-top:6%;

  font-family:'aonchlo';
  font-size:1.7em;
  color:rgb(13, 10, 8);
}

@keyframes emblemFade {
  0% {
    opacity: 1
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }

}
@keyframes emblemFadeIn {
  0% {
    opacity: 0
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1
  }

}

 @media only screen and (min-width: 1181px) {

#mob-effect,
#mob-text,
#suggest-mobile {

  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 998999;
}
} 

#portrait {
  display: none;
}

@media screen and (orientation:portrait) {

  #portrait{
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    position: fixed;
    background-size: contain;

  }

}



@keyframes fade-out-puzzle-gif{
	0%{
		opacity: 1;
	}
	8%{
		opacity: 1;

	}


	100%{

	opacity: 0;

	}

}
@keyframes fade-out-menu {
	0%{
		opacity: 1;
	}
	30%{
		opacity: 1;

	}


	100%{

	opacity: 0;

	}

}
	.settings-bg{
		height:100%;
		width:100%;
    /* background-size: cover; */
    /* overflow: hidden; */
   background-repeat: repeat-x, repeat-y;
		/* position: fixed; */
		top:0;
		left:0;
		z-index:9999;
	animation: fade-out-puzzle-gif 20s forwards linear;
/* border: 5px solid green;; */
transform: scale(1.5);	 
}
   
#iron-key-text{
	animation: fade-in-ik 12s forwards;
    margin-top: 0%;
    top: 0%;
    position: fixed;
    z-index: 9000;
    margin-left: 1%;
    transform:scale(0.5)
}
	  #sb0,#sb1,#sb2,#sb3{
		/* border:4px solid salmon; */
	  position:fixed;
	  z-index: 8000;
	  transform:scale(0.3);
	  border-radius: 50%;
	  left:-8%;
	}
	#sb0{
		top:-28%;
		animation: fade-in-a-bit 3s forwards;

	}
	
	#sb1{
		top:33%;
		animation: fade-in-a-bit 5s forwards;

	}
	
	#sb2{
		top:3%;
		animation: fade-in 4s forwards;

	}
.ironkeyportraitholder {
    position: fixed;
    z-index: 1;
    justify-content: center;
}

.ironkeyportraitholder-intro {
    bottom: -10%;
}



@keyframes eyes-in {
 
  0%{transform:scale(0.5);  opacity:0;
  }
  20%{transform:scale(0.8) ;opacity:0.2; }
    100%{transform:scale(1); opacity:0.7
  
 
}}


    .grey-bg{
      left:0;
 animation:fade-in-grey 14s forwards ;
      top:0;
      position:fixed;
      height:100%;
      width: 100%;
      background-size: cover;

    }


    .blurry-bg{
      z-index: -1;
      height:100%;
      width:100%;
      left:0;
      transform: scale(2);
      position: fixed;
      border:4px solid orange;


    }

    /* bigscreen style */
@media only screen and (min-width: 1601px) {



	#sb0,#sb1,#sb2,#sb3{
		/* border:4px solid salmon; */
	  position:fixed;
	  z-index: 8000;
	  transform:scale(0.5);
	  border-radius: 50%;
	  left:0%;
	}
	#sb0{
		top:7%;
		animation: fade-in-a-bit 3s forwards;
	}
	
	#sb1{
		top:33%;
		animation: fade-in-a-bit 4s forwards;

	}

	#sb2{
		top:57%;
		animation: fade-in 5s forwards;

	}
	


}
@keyframes fade-in{

	0%{opacity: 0;}
	20%{opacity: 0;}
	100%{opacity: 1;}
	}


  @keyframes fade-in-grey{

    0%{opacity: 0;}
    20%{opacity: 0;}
    100%{opacity: 0.5;}
    }
  
  
  
	@keyframes fade-in-a-bit{

		0%{opacity: 0;}
		20%{opacity: 0;}
		100%{opacity: 0.3;}
		}
@keyframes advance{
  0%{ transform: scale(1); margin-top:0; margin-right: 0;}
  100%{ transform: scale(10); margin-top:1000px; margin-right:140px;}
}
		@keyframes fade-in-ik{

			0%{opacity: 0;}
			5%{opacity: 0;}
			80%{opacity: 0.6;}
			100%{opacity: 0.6;}
       
			}


		#prototype{

			position:fixed;
			z-index: 850;
			top: 20%;
			left:30%;
		}
    @media only screen and (min-width: 1022px) {

    #nrg
  {
    height:100%;
    width: 100%;
    top:0;
    left:0;
    position:fixed



  }
  #nrg-text{
    position: fixed;
    z-index: 99999;
    width: 100%;
    left: 0px;
    transform: scale(0.8);
  }



  #iron-key-text {
    position: fixed;
    
    /* z-index: 2; Ensure it's above other elements */
    animation: tiltAndTurn 14s infinite alternate-reverse steps(8);

}
    }
@keyframes tiltAndTurn {
  0% {
    transform: rotateX(0deg) rotateY(0deg) scale(0.6);
  }
  20% {
    transform: rotateX(-5deg) rotateY(5deg) scale(0.6);
  }
  40% {
    transform: rotateX(5deg) rotateY(-5deg) scale(0.6);
  }
  60% {
    transform: rotateX(-3deg) rotateY(3deg) scale(0.65);
  }
  80% {
    transform: rotateX(3deg) rotateY(-3deg) scale(0.65);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) scale(0.6);
  }
}

#iron-key-text {
  position: fixed;
  z-index: 2; /* Ensure it's above other elements */
  animation: tiltAndTurn 14s infinite alternate-reverse steps(8);
  transform-origin: center; /* Make the tilt pivot from the center */
}

