
  #iron-key-text {
    position: fixed;
    
    /* z-index: 2; Ensure it's above other elements */
    animation: tiltAndTurn 14s infinite alternate-reverse steps(8);


    }
@keyframes tiltAndTurn {
  0% {
    transform: rotateX(0deg) rotateY(0deg) scale(0.6);
  }
  20% {
    transform: rotateX(-5deg) rotateY(5deg) scale(0.6);
  }
  40% {
    transform: rotateX(5deg) rotateY(-5deg) scale(0.6);
  }
  60% {
    transform: rotateX(-3deg) rotateY(3deg) scale(0.65);
  }
  80% {
    transform: rotateX(3deg) rotateY(-3deg) scale(0.65);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) scale(0.6);
  }
}


.start-fullscreen-button {
  position: fixed;
  bottom: 25%; /* Adjust the button's position */
  right: 48%;
  background-color: (0,0,0,0);
  z-index: 510;
  animation: spin 32s linear infinite; /* Add spinning animation */
  transition: opacity 0.5s ease; /* Smooth fade-out transition */
  position:fixed;
  width:61px;
  height: 61px;
  background-image: url('../../images/middle-c.png');
  background-repeat: no-repeat;
  transform-origin: 50% 50%;
  scale: 1.4;

}

.start-fullscreen-button:hover {
}

.start-fullscreen-button:active {
  transform: scale(0.95);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.start-fullscreen-button.hidden {
  opacity: 0;
  pointer-events: none;
}
