
.hesitate{
	/* display:none; */
	  -webkit-animation: hesitate 2.5s forwards;
			  animation: hesitate 2.5s forwards;
	}
	


@-webkit-keyframes hesitate {
	0% {
	  opacity: 0
	}
	50% {
	  opacity: 0
	}
	
	100% {
	  opacity: 1
	}
  }



  #meteor-shower-container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
  z-index: 9;
  top:0;
  left:0
  }

  