



@font-face {
	font-family: aonchlo;
	src: url(../../fonts/aonchlo.ttf);
  }
  
/* *{
	background-color:black;} */
	.button-group{
		margin:0 !important;
		align-content: center;
	}
	
	@font-face { 
		font-family: 'Urchlo Romhanach'; src: url('../../fonts/urchlo.ttf'); 
	} 

	#hero-says{

		
		font-size: 1.4em;
		color: black;
		position: fixed;
		/* border: 5px solid green; */
		width: 80%;
		left: 10%;
		top: 5%;
		height:45%;
		font-family: "Verdana", cursive, sans-serif;
	
	}
	.btn{

		/* margin:0 !important; */
		display: block;
		width: 100%;
		/* margin:2px; */
		border-radius:10px;
padding-top:1%;
padding-bottom:1%;		
			margin:2px !important;
	font-size: 1.5em !important;
	background-color: rgb(45, 38, 46) !important;
	color: goldenrod !important;
border:1px solid black !important;	  
		
	}
	
.btn-right {
	font-size: 1.7rem;

  /* border:3px solid#c469db9c; */
  /* padding-right:8px !important;  */
  /* border:2px solid #c469db */

  /* color: rgb(255, 227, 255); */

}


	#keyboard-container, #caps-keyboard-container, #fada-mode,#new-buttons{
pointer-events: all;
		
	}
	/* #fada-mode{display:none;} */
	#e-line, #f-line , #a-line, #c-line, #shift-line{
		/* border:2px solid orange; */
		width:100%;
		display:flex;
	}
	
	#shift-line{
		bottom:4%;
		transform: scale(0.7);
	}

	#backspace{
		
		left:10px;
		width:50px;
	}
	
	.z-line{
		
		margin-left:2% !important;
	}
	
	
	
	#j-line{
		z-index: 910000;
		/* border:4px solid blue; */
display: flex;
justify-content: flex-end;
position: relative;
width:400px;
top: 60%;

		
	}
	
	
	.btn-right-logo{
		/* border:3px solid orange; */
		/* padding-right:8px !important;  */
		/* background-color:#648136; */
		/* -webkit-animation: bounce 6.5s ease-out forwards; */
		/* -moz-animation: bounce 1000ms ease-out forwards; */
		/* -o-animation: bounce 1000ms ease-out forwards; */
		/* animation: bounce 2.5s ease-out forwards;	 */
		
	}
	.btn-left-logo{
		/* background-color:#c469db; */
	
		/* color: rgb(255, 227, 255); */
		/* border:3px solid orange; */
		/* padding-left:8px !important;  */
		-webkit-animation: bounce 2.2s ease-out forwards;
		-moz-animation: bounce 1600ms ease-out forwards;
		-o-animation: bounce 1600ms ease-out forwards;
		animation: bounce 2.2s ease-out forwards;
	 
	}
	#keyboard-container{

		position:fixed;
		display:inline-block;
		align-content: center;
		text-align: center;
		height:50%;
		left:0;
		top:67%;
		width:100%;
		z-index: 3500;
	}
	
	

	.hidden{display: none !important;}


#exit-easca{
	color:rgb(122, 33, 74)
}

/* developing an algorithm generator? */

.hg-theme-default{
    background-color: black;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    /* padding: 5px; */
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    top: 61%;
    position: fixed;
	z-index: 9000;

}

 .hg-button, .hg-layout-easca.hg-rows,
.hg-theme-default,.hg-standardBtn{
	background-color: rgb(4, 4, 4) !important;
	background-image: '../../images/fog3.png';

}
.hg-button{
	background-color: rgb(28, 27, 29) !important;


}

.react-simple-keyboard{
	top: 61%;
    left: 0px;

}

.easca-input{
	top: 85%;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 40%;
	left:0;
	text-align: center;
    font-size: 2em;
    background-color: rgba(0,0,0,0);
	font-family:aonchlo;

}



.hg-button, .hg-standardBtn{
	
	font-size: 1.5em;
}