
@font-face {
    font-family: 'aonchlo';
    src: url('../../fonts/aonchlo.ttf');
    font-weight: 400;
    font-weight: normal;
}
@font-face {
    font-family: 'anaphora';
    src: url('../../fonts/Anaphora-Light-trial.ttf');
    font-weight: 400;
    font-weight: normal;
}

.chess-like-1{
height:100%;
width:100%;
z-index: 9999;
position: fixed;
top:0;
left:0;
justify-content: center;
align-items: center;
text-align: center;
}

.chess-like-frame-container{

	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between; 
	pointer-events: none;

}
.chess-like-frame{
	pointer-events: none;
top:0;
left:0px;
	position: fixed;
	z-index: 999;
	flex: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}


.hesitate{
	/* display:none; */
	  -webkit-animation: hesitate 2.5s forwards;
			  animation: hesitate 2.5s forwards;
	}
	


@-webkit-keyframes hesitate {
	0% {
	  opacity: 0
	}
	50% {
	  opacity: 0
	}
	
	100% {
	  opacity: 1
	}
  }

  .molly{
	left: 0%;
    transform: scale(2) scaleX(-1);
    top: 81%;
  }

  .chess-like-1{
	height: 100vh;
	width:800px;
	border:4px solid blue;
  }

  .phaser-chess-like {
	border: 5px solid orchid;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;  }
  
	.chess-board {
		transform: rotate(45deg);
	}

	