canvas{
    border: 1px solid black;
    top:0;
    position:fixed;
    left:0; 

}

@font-face {
    font-family: 'aonchlo';
    src: url('../../fonts/aonchlo.ttf');
    font-weight: 400;
    font-weight: normal;
}
@font-face {
    font-family: 'anaphora';
    src: url('../../fonts/Anaphora-Light-trial.ttf');
    font-weight: 400;
    font-weight: normal;
}