/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: urchlo;
  src: url(./fonts/urchlo.ttf);
}
@font-face {
  font-family: anaphora;
  src: url(./fonts/Anaphora-Light-trial.ttf);
}
@font-face {
  font-family: aonchlo;
  src: url(./fonts/aonchlo.ttf);
}


.distant-town{
  /* margin-top: -16%; */
  /* margin-left: -26%; */
  position: fixed;
  z-index: 4;
top: 0%;
left: 0%;
height: 130%;
width: 150%;
opacity:1;
/* border:4px solid blue; */
-webkit-animation: landscape-waves 30s infinite  ;
        animation: landscape-waves 30s infinite ;

}



@-webkit-keyframes landscape-waves {
  0% {
   top:  -40%
  }

  50% {
    top: 35%
   }
 
   
  100% {
    top:-40%;
  }
}



@keyframes landscape-waves {
  0% {
   top:  -40%
  }

  50% {
    top: 35%
   }
 
   
  100% {
    top:-40%;
  }
}

.disappear{
  -webkit-animation: fade-out 1s forwards;
          animation: fade-out 1s forwards;
  pointer-events: none;
}
body {

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  position: relative;
}

html,
body {
  margin: 0;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
height:360px;
width: 740px;
/* background-color:black; */
}

* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffffff;
}

.app {
  width: 450px;
  min-height: 200px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  /* box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;

  margin-left: 18%;
  margin-top: 10%;
}

.question-img {
  /* border:4px solid darkblue; */

}

#question-img{
  /* border:4px solid green; */
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 0;
  opacity: 0;
  -webkit-animation: fade-in 10s forwards;
          animation: fade-in 10s forwards;


}


#sky {
  pointer-events: none;

  height: 100%;
  position: fixed;
  width: auto;
  top: 0%;
  left: 0%;
  z-index: 0;
  opacity: 0;
  -webkit-animation: fade-in 12s linear forwards, scroll-sky 470s infinite linear;
          animation: fade-in 12s linear forwards, scroll-sky 470s infinite linear;

}
.stars-container{
  top:0;
  left:0;
  position: fixed;
  height: 100%;
  width: 100%;
  justify-content: center;
  display:flex;
  align-items: center;
}


#stars {
/* border: 4px solid orange; */
  height: auto;
  width:120%;
  animation: spin 500s  infinite;
  /* transform: scale(1.7); */
}

#rainy-hill {
  position: fixed;
  /* border: 1px solid blue; */
  z-index: -1;
  top: 44%;
  left: 55%;
}

.score-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

#glass-img,
#settings-img {
  pointer-events: none;
  top: 0;
  left: 0%;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}
#glass-img{
  /* border:4px solid orange; */
  height: 100%;
  width:100%
}
#settings-img {
  z-index: 1;
}

#hints, #hints-ring-4, #hints-geaga,
.hints,
.choice-ring-0-hint {
  pointer-events: none;
  font-size: 1.5em;
  position: fixed;
  top: 52%;
  left: 10%;
  color: rgb(255, 244, 224);
  z-index: 1016;
  padding: 10px;
  width: 66%;
  text-shadow: -4px -4px 4px #000, 4px -4px 4px #000, -4px 4px 4px #000, 4px 4px 4px #000;
  
  font-family: 'anaphora'
}

#hints {
  width: 95%;
  left: 0%;
  top: 25%;
  font-family: Arial, Helvetica, sans-serif;

}

#hintsA {
  top: 67%;
  z-index: 93;
  left: 28% !important;

}

#hintsB {
  top: 45%;
  left: 68%;
}

#hintsC {
  top: 62%;
  left: 68%;
}

.choice-ring-0-hint {
  left: 5%;
  top: 79%;
  width: 75%;
  /* color: lightslategray; */
  color: floralwhite;
  /* background-color: rgba(0,0,0,0.8); */
}

#glass {
  pointer-events: none;
  top: 0;
  left: 0%;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 994;
  /* animation: fade-in 0.3s forwards; */
}

.question-text , #loc, .rings1, .names-i, .numbers-i{
  top: 0%;
  left: 0%;
  position: fixed;
  font-size: 2em;
  color: floralwhite;
  /* font */
  margin-bottom: 12px;
  z-index: 1010;
  pointer-events: none;
  padding: 10px;
  
  /* text-shadow:0px -2px 2px #000, -1px -2px 2px #000, -2px 2px 4px #000, 1px -8px 7px #000; */
  width: 100%;
  font-family: aonchlo;
  /* background-color: rgba(0,0,0,0.5); */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  /* -webkit-text-stroke: 1px #000000; */
 
}


.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  left: 28%;
  top: 31%;
  z-index: 89;

}

.slow-fade {
  -webkit-animation: fade-out 32s forwards;
          animation: fade-out 32s forwards;
}


.slow-fade-in {
  -webkit-animation: fade-in 112s forwards;
          animation: fade-in 112s forwards;
  /* border:4px solid blue; */
}

.settings-section {
  /* border: 4px solid orange; */
  width: 40%;
  display: block;
  left: 6%;
  top: -3%;
  position: fixed;
  height: 50%;
  z-index: 101;
}

.settings-button {
  /* height: 300px; */
  /* width:300px; */
  /* position:fixed; */
  /* border:4px solid red; */
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0
  }

  
  100% {
    opacity: 1
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  
  100% {
    opacity: 1
  }
}






@-webkit-keyframes hesitate {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0
  }
  
  100% {
    opacity: 1
  }
}


@keyframes hesitate {
  0% {
    opacity: 0
  }
  50% {
    opacity: 0
  }
  
  100% {
    opacity: 1
  }
}
@-webkit-keyframes waves {
  0% {
   left: -50%
  }

  
  100% {
    left: 50%;
  }
}
@keyframes waves {
  0% {
   left: -50%
  }

  
  100% {
    left: 50%;
  }
}

@-webkit-keyframes fade-to {
  0% {
    opacity: 1
  }
  20% {
    opacity: 0.9
  }
  100% {
    opacity: 0.6
  }

  
  100% {
    opacity: 0.8
  }
}


@keyframes fade-to {
  0% {
    opacity: 1
  }
  20% {
    opacity: 0.9
  }
  100% {
    opacity: 0.6
  }

  
  100% {
    opacity: 0.8
  }
}
@-webkit-keyframes scroll-sky {
  0% {
    left: 0px
  }

  
  100% {
    left: -4750px
  }
}
@keyframes scroll-sky {
  0% {
    left: 0px
  }

  
  100% {
    left: -4750px
  }
}
@-webkit-keyframes fade-in-dial {
  0% {
    opacity: 0
  }

  
  100% {
    opacity: 0.7
  }
}
@keyframes fade-in-dial {
  0% {
    opacity: 0
  }

  
  100% {
    opacity: 0.7
  }
}

@-webkit-keyframes fade-out {

  0% {
    opacity: 1
  }

  ,
  100% {
    opacity: 0
  }
}

@keyframes fade-out {

  0% {
    opacity: 1
  }

  ,
  100% {
    opacity: 0
  }
}

@-webkit-keyframes shrink {
  0% {
    /* transform: scale(1); */
    top: 31%;
  }

  100% {
    /* transform: scale(0.5); */
    top: 37%;
  }
}

@keyframes shrink {
  0% {
    /* transform: scale(1); */
    top: 31%;
  }

  100% {
    /* transform: scale(0.5); */
    top: 37%;
  }
}

.left-eye,
.right-eye {
  position: relative;
  top: 44%;
  left: 44%;
  z-index: 97;

}

.geaga-holder, .silken-holder {
  position: fixed;
  top: -24%;
  z-index: 33;
  left: 58%;
}
.silken-holder{
  top:36%;
  left:-9%;
}

.right-eye {
  left: 49%;
}


button {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  font-size: x-large;
  color: #ff9cfd;
  background-color: #112ec0;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
  padding: 3px;

  font-family: urchlo, Helvetica, Arial, Verdana, Tahoma, sans-serif;

}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}


#special-class {

  position: absolute;
  /* top: 0%; */
  left: 0%;
  width: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  top: 0%;
  z-index: -1;
}

#app-bg {

  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -1;
}

#blank {
  pointer-events: none;
}


.settingsButton {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  position: relative;
  padding: 0;

}


#toggle-settings-btn {
  left: 86%;
  background-color: #555e7d;
  border: 3px solid rgba(218, 217, 169, 0.707);

}

.field-ringfort-menu {
  /* border: 4px solid blue; */
  position: fixed;
  left: 3%;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.field {
  /* border:1px solid orange; */
}




.ringfort {

  position: absolute;
  top: -2%;
  left: 130%;
}

#Rain {
  position: fixed;

  pointer-events: none;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 10%;
  z-index: 88;
  -webkit-transform: scale(2.0);
      -ms-transform: scale(2.0);
          transform: scale(2.0);

}


.drop {
  border: 1px solid white;
  z-index: 100;
  background-color: white;
  opacity: 0.45;
}


.app-bg-blackripple {
  top: 0;
  left: 0;
  position: fixed;
  /* border:4px solid green; */
  opacity: 1;
  height: 100%;
}

#hidden {
  display: none;
}

.fadedOut {
  -webkit-animation: fade-out 1s forwards;
          animation: fade-out 1s forwards;
}


.faded-in {
  -webkit-animation: fade-in 45.5s forwards;
          animation: fade-in 45.5s forwards;
}

.faded-in-slow {
  -webkit-animation: fade-in 50s forwards;
          animation: fade-in 50s forwards;
}

@-webkit-keyframes highlight-glass {
  30% {
    border: 4px solid rgba(172, 255, 47, 0);
  }
  
  50% {
    border: 4px solid greenyellow;
  }
  
  
  
  100% {
    border: 4px solid rgba(172, 255, 47, 0);

  }
}

@keyframes highlight-glass {
  30% {
    border: 4px solid rgba(172, 255, 47, 0);
  }
  
  50% {
    border: 4px solid greenyellow;
  }
  
  
  
  100% {
    border: 4px solid rgba(172, 255, 47, 0);

  }
}
@keyframes fade-in {

  0% {
    opacity: 0;
  }



  100% {
    opacity: 1;
  }
}

@keyframes fade-out {

  0% {
    opacity: 1;
  }

  /* 
  20% {
    opacity: 1;
  } */

  100% {
    opacity: 0;
  }
}

.geaga-fade {
  -webkit-animation: geaga-fade-out 6s forwards;
          animation: geaga-fade-out 6s forwards;
}

@-webkit-keyframes geaga-fade-out {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes geaga-fade-out {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

.hints {
  /* left: 62% !important; */
}

.shadow-hill {
  position: fixed;
  z-index: 5;
  left: -1%;
  -webkit-animation: fade-out 90s forwards;
          animation: fade-out 90s forwards;
}

.index-shadow-hill {
  position: fixed;
  z-index: 5;
  left: -1%;
}

.hill-stones{
  z-index: 4;
  position:relative;
  /* animation: move-down 4s forwards; */
  /* border:4px solid blue; */
  margin-top: 10%;
  pointer-events: none;
}

#hill-stones{
  
  background-size: cover;
  width: 100%;

}

.geaga-shadow {
  z-index: 30;
  position: fixed;
  top: 0%;
  left: -3%;
  opacity: 0.5;
}

.geaga-face {
  z-index: 30;
  position: fixed;
  top: 0%;
  left: -3%;
}

.index-geaga-shadow {
  z-index: 30;
  position: fixed;
  top: 0%;
  left: -3%;
}






.distant-fort {
  position: fixed;
  z-index: 3;
  left: 0%;
  top: 7px;


   /* animation: fade-in 12s forwards; */
}

.index-distant-fort {
  pointer-events: none;

    position: fixed;
  z-index: 3;
  left: 0%;
  top: 7px;
  width:100%;
  height:100%;
  /* transform: scale(1.1); */
   -webkit-animation: fade-in 4s forwards;
           animation: fade-in 4s forwards;
   border:44px solid red;
   -webkit-transform: scale(1.1) skew(15deg, 15deg);
       -ms-transform: scale(1.1) skew(15deg, 15deg);
           transform: scale(1.1) skew(15deg, 15deg);

  }

.index-shadow-fields {
  position: fixed;
  z-index: 4;
  left: -14%;
  top: 48%;
  /* animation
  /* animation: fade-out 4s forwards; */
}

.door{
  position: fixed;
  z-index: 3;
  top: 42%;
  left: 17%;
  -webkit-transform: scale(0.16);
      -ms-transform: scale(0.16);
          transform: scale(0.16);
  -webkit-animation: fade-in 12s forwards;
          animation: fade-in 12s forwards;

}

.fog,.fog2, .fog3,.fog4{
  position: fixed;
  pointer-events: none;
  z-index: 4;
  top: 0%;
  left: 0%;
  /* animation: fade-to 20s alternate-reverse linear; */
opacity: 0.0;
background-color: rgb(255, 255, 255);
height: 100%;
width: 100%;
}

.fog4{

  z-index: 999;
  -webkit-animation: fade-out 6s linear 1s 1 forwards;
          animation: fade-out 6s linear 1s 1 forwards;

}

.fog2{
  top:0;
  left: 0;
  height: 100%;
  opacity:0.3

}
.fog3{opacity:0.3}
.gradient{
  pointer-events: none;
  position: fixed;
  z-index: 6;
  top: -27%;
  left: 0%;
opacity: 1;
height: 100%;
width: 100%;
}

.gradient2{

  position: fixed;
  z-index: 6;
  top: 0%;
  left: 0%;
  opacity: 0.9;
  height: 100%;
  width: 100%;
}
.dial {
  -webkit-animation: fade-in-dial 3s forwards;
          animation: fade-in-dial 3s forwards;
  z-index: 800;
  height: 220px;
  width: 220px;
  /* position: relative; */
  pointer-events: all;


}
.input-elements-container, .input-elements-bg-container, .field-container{
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height:100%;
  width:100%;
  left: 0;
  top:0;
  z-index: 1200;
  position: fixed;

}
.input-elements-bg-container{
  z-index: 50;


}
.field-container, .stones-container{
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top:-60%;
  /* animation:move-down 8s forwards; */
  z-index: 4;
  pointer-events: none;

}

.stones-container{
  /* animation:move-down 4s forwards;
   */
   left: 0%;
   position: fixed;
   -webkit-box-pack: end;
       -ms-flex-pack: end;
           justify-content: end;
   display:none;
}

.avatar {
  position: relative;
  z-index: 68;
  /* width: 24%; */
  /* left: 73%; */
  /* top: 50%; */
  display: block; 

}
.dirpad{
  opacity: 0;
  position:fixed;
  top:48%;
  left:-3%;
  z-index: 999;
  -webkit-animation: fade-in 2s ease-in 2s 1 forwards;
          animation: fade-in 2s ease-in 2s 1 forwards;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}
.rave{
  position: fixed;
  top: 36%;
  left: 2%;
  z-index: 2;
  width: 29px;
  height: 30px;
  -webkit-animation: fade-in 2s ease-in 2s 1 forwards;
          animation: fade-in 2s ease-in 2s 1 forwards;
}
.wisp{
  border-radius:50%;
}
.wisp2{
  height:50px;
  /* animation:fade-out 2s linear 1s forwards; */
}
.avatar-holder {
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  top: 0%;
  left: 0%;
  /* border: 4px solid blue; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 699;
  height: 100%;
  width: 100%;
  position: fixed;
  
}

.avatarholder {
  /* border: orange; */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 69;

}

.avatar-land {
  /* border: 4px solid red; */
  z-index: 69;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
}

.avatar-land2 {
  /* border: 4px solid red; */
  z-index: 69;

  -webkit-animation: fade-out 2s forwards ease-out;

          animation: fade-out 2s forwards ease-out;
}


.dial-text, #pO  {
  
  position: fixed;
  z-index: 995;
  font-size: 3em;
  /* font-weight: bold; */
  text-align: center;
  left: 0%;
  top: 0%;
  -webkit-text-stroke-color: rgba(242, 144, 255, 0.437)!important;
  width: 100%;
  background: -o-linear-gradient(left, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  background: -webkit-gradient(linear, left top, right top, from(#6666ff), color-stop(#0099ff) , color-stop(#00ff00), color-stop(#ff3399), to(#6666ff));
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: rainbow_animation 60s ease-in-out infinite;
          animation: rainbow_animation 60s ease-in-out infinite;
  background-size: 400% 100%;
  font-family: urchlo;
  /* -webkit-text-stroke-width: 2px; */
pointer-events: none;
background-color: rgba(32,34,45,1);}

#pO{

  top: 4%;

}
#pOf{
position: fixed;
  top: 70%;
  left: 66%;
  z-index: 99;
  height: 21%;
  /* border: 5px solid blue; */
  width: 32%;
  opacity: 0.7;
}

@-webkit-keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}
.lower-fields{
/* animation: lower-fields 3s forwards; */

}
.sparkles{
  z-index: 10;
}
#lens {
position: relative;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
  pointer-events: none;
  opacity: 0.5;
  z-index:102;


}

#buttonmash {
  position: relative;
  height: 130px;
  width: 130px;
  z-index: 9902;
  border-radius: 50%;
  /* border: 2px solid rgb(207,181,59); */
  pointer-events: all;
}
  
#mob-effect,
#mob-text,
#suggest-mobile,
#mob-effect2 {

  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: -9;
}

#mob-effect2{
  z-index: 99;
  /* border:333px solid blue; */
}
#toggle-settings-btn,
#toggle-glass-btn {

  display: -ms-grid;

  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  color: rgb(136, 132, 13);
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  right: 9%;
  top: 75%;



  width: 25px;
  height: 25px;
  margin-bottom: 0% !important;
  opacity:0.5;

  padding: 23px;
  border: 4px solid rgba(172, 255, 47, 0);
}
 #toggle-glass-btn2 {
  z-index: 995;
  /* border: 4px solid blueviolet; */
  justify-content: center;


  display: grid;
  align-items: center;
border-radius: 50%;
  height: 50px;
  width: 50px;
  /* transform:scale(1.2); */
opacity:1;
/* background-color: rgb(32, 21, 28); */
}
  #toggle-glass-btn{
  border-radius: 50%;
  z-index: 995;
  }



#linucs-keyboard{
  z-index: 999;
  left: 14%;
  top: 65%;
  position: fixed;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  display:none;
}

#caps-keyboard-container{
  display:none;
}


.hidden, #hidden {
  /* opacity:0.5 */
  display: none;
}

#test{
  border: 10px solid beige;
}


#leap-me{
  position: fixed;
  z-index: 68;
  width: 24%;
  left: 480px;
  top: 31%;
  display: block; 
      -webkit-animation:leap-h 2.5s forwards; 
              animation:leap-h 2.5s forwards;
  
    }
    #eng-notes{
position: fixed;
z-index: 0;
    }
  
   
    @-webkit-keyframes leap-h {
    
      0% {
        left: 480px;
        top: 31%;
  
      }

      49% {
        left: 480px;
        top: 31%;
        -webkit-transform: scale(0.35);
                transform: scale(0.35);
  
      }

  
  70%{
    top: -71%;
-webkit-transform: scale(0.35);
        transform: scale(0.35);


  
  }
  100% {
    top: 31%;
    left:150px;
-webkit-transform: scale(0.35);
        transform: scale(0.35);
  
      } 
    }
  
   
    @keyframes leap-h {
    
      0% {
        left: 480px;
        top: 31%;
  
      }

      49% {
        left: 480px;
        top: 31%;
        -webkit-transform: scale(0.35);
                transform: scale(0.35);
  
      }

  
  70%{
    top: -71%;
-webkit-transform: scale(0.35);
        transform: scale(0.35);


  
  }
  100% {
    top: 31%;
    left:150px;
-webkit-transform: scale(0.35);
        transform: scale(0.35);
  
      } 
    } 
    #portrait-mode{
      z-index: 999;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: fixed;
    }

#delay-in{
  font-family: aonchlo;
  opacity: 0;
  animation: delay-fade-in 4s forwards linear;
}

    ul {
      list-style-type: none;
      padding: 0;
    }
    
    .menu ul {
      background-color: #222;
      margin: 0;
    }
    
    .menu li {
      font-family: sans-serif;
      font-size: 1.2em;
      line-height: 40px;
      height: 40px;
      border-bottom: 1px solid #888;
    }
     
    .menu a {
      text-decoration: none;
      color: #fff;
      display: block;
    }


@media screen and (orientation:portrait) {
  .hill-fields{
    display:none;

  }
  .distant-town{
-webkit-animation: waves 30s infinite ;
        animation: waves 30s infinite ;

  }
}



.black-bg{
  position:fixed;
  height:100%;
  pointer-events: none;
  width:100%;
  /* background-size: cover; */
  /* overflow: hidden; */
 background-repeat: repeat-x, repeat-y;
  /* position: fixed; */
  top:0;
  left:0;
  z-index:19920;

-webkit-animation: fade-out 4s forwards linear;

        animation: fade-out 4s forwards linear;

  }



.hill-fields,   .lower-fields {
  /* animation: fade-out 4s forwards; */
top:0;
left:0;
width:100%;
height:100%
}
.field-container{
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
  top:0;
  left:0;
  /* border:5px solid orange; */
  height:100%;
  width:100%;
padding:0;
margin:0;
}

.hesitate{
/* display:none; */
  -webkit-animation: hesitate 2.5s forwards;
          animation: hesitate 2.5s forwards;
}




.dial-text, #pO {
  position: fixed;
  z-index: 1595;
  font-size: 3em;
  /* font-weight: bold; */
  text-align: center;
  left: 0%;
  top: 0%;
  width: 100%;
  background: -o-linear-gradient(left, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  background: -webkit-gradient(linear, left top, right top, from(#6666ff), color-stop(#0099ff) , color-stop(#00ff00), color-stop(#ff3399), to(#6666ff));
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: rainbow_animation 60s ease-in-out infinite;
          animation: rainbow_animation 60s ease-in-out infinite;
  background-size: 400% 100%;
  font-family: aonchlo;
  -webkit-text-stroke-width: 2px;
pointer-events: none;
background-color: #000;}
#pO{

  top: 4%;

}
#pOf{
position: fixed;
  top: 70%;
  left: 66%;
  z-index: 99;
  height: 21%;
  /* border: 5px solid blue; */
  width: 32%;
  opacity: 0.7;
}


@-webkit-keyframes delay-fade-in {
  0% {
     opacity: 0;
  }

  70% {
    opacity: 0;

  }
  100% {
    opacity: 1;

  }
  
}
@keyframes delay-fade-in {
  0% {
     opacity: 0;
  }

  70% {
    opacity: 0;

  }
  100% {
    opacity: 1;

  }
  
}

@-webkit-keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}
@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

.hidden{
	display:none;
}
.mosey-down{
  border:50px solid greenyellow;
}

#shine{
  border:4px solid orange;
  position:relative;
  z-index: 9000;
  top:0;
  left:0;
  height:50px;
  width:50px;
}


#hints-geaga{
  display:none;
}

#tutorial0{
  height:270px;
  width:auto;
  animation: spin 60s steps(128) infinite;
  position: relative;
  margin-top: 0%;
     
}
.fader{
  animation: fade-in 3s  steps(5) forwards;

}
 
@keyframes tutorial0 {
  0% {
  
   
   transform : rotate(360deg) ;
  }
  100% {
  
    
    transform: rotate(0deg);  
  }
}


@keyframes fade-arrow {
  0% {
  
   
  opacity : 0.0 ;
  }

  100% {
  
    
    opacity: 1;  
  }
}

.tutorial-container{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
justify-content: center;
align-items: center;
display:flex;
}

.tutorial0-container{
  /* transform:scale(0.9) */
}

@media only screen and (min-width: 1026px) {

  #mob-effect,
  #mob-effect1,
  #mob-effect2 {

    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;

    z-index: 9950;


  }
}